snippet desc "Mocha describe" !b
describe("${1}", function() {
${2}
});
endsnippet

snippet i "Mocha it" !bw
it("${1}", function() {
${2}
});
endsnippet

snippet re "require(module)" !b
var ${1:React} = require("$2${1/(.*)/$1/}");
endsnippet

snippet t "then after a promise" !w
.then(function(${1:val}) {
${2}
})${3}
endsnippet
