[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = fugitive
[difftool]
  prompt = false
[alias]
  lt = log --format='%C(yellow)%h%C(reset) -%C(red bold)%d%C(reset) %s %C(green)(%cr) %C(cyan)<%an>%C(reset)'
  ltd = log --format='%C(yellow)%h%C(reset) -%C(red bold)%d%C(reset) %s %C(green)(%cd) %C(cyan)<%an>%C(reset)'
  ls = log --format='%C(yellow)%h%C(reset) -%C(red bold)%d%C(reset) %s %C(green)(%cr) %C(cyan)<%an>%C(reset)' --stat
  lg = log --format='%C(yellow)%h%C(reset) -%C(red bold)%d%C(reset) %s %C(green)(%cr) %C(cyan)<%an>%C(reset)' --graph
  lm = log --format='%C(yellow)%h%C(reset) -%C(red bold)%d%C(reset) %s %C(green)(%cr) %C(cyan)<%an>%C(reset)' --author=skao
  lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  d = difftool
  rlc = reset --hard remotes/origin/HEAD
  re = rebase master
  st = status
  br = branch
  co = checkout
  cob = checkout -b
[user]
  email = skao@uber.com
  name = Ethan Kao
[push]
  default = simple
[mergetool "fugitive"]
  cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[credential]
  helper = cache
[core]
  editor = /usr/local/bin/nvim
	excludesfile = /Users/skao/.gitignore_global
[branch]
  autosetuprebase = always
[rerere]
  enabled = true
[url "ssh://gitolite@code.uber.internal/"]
  insteadOf = git://code.uber.internal/
[url "ssh://git@github.com/uber/"]
  insteadOf = https://github.com/uber/
[commit]
  template = ~/.commit_template
[url "ssh://gitolite@code.uber.internal:2222/"]
	insteadOf = https://code.uber.internal/
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "ssh://code.uber.internal/"]
	insteadOf = https://code.uber.internal/
[url "ssh://config.uber.internal/"]
	insteadOf = https://config.uber.internal/
[http "https://gopkg.uberinternal.com"]
	followRedirects = true
[http "https://gopkg.in"]
	followRedirects = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
